@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), "Inter", sans-serif;
  --font-serif: var(--font-playfair), "Playfair Display", serif;
}

body {
  background-color: #fcfaf5;
  color: #1a1a1a;
}
